.address {
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
}

.address_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.address__group {
    text-align: left;
    margin-bottom: 15px;
}

.address__label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.address__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.address__error {
    color: #ff4d4f;
    font-size: 13px;
    margin-top: 5px;
}

/* 更新ボタン */
.address__button {
    margin-top: 30px;
    padding: 12px 10px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.address__button:hover {
    background-color: #e06666;
}