body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* ===============================
   ヘッダー
   =============================== */




.header__button {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 6px 14px;
    text-decoration: none;
    transition: 0.3s;
}

.item-detail__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    max-width: 1000px;
    margin: 40px auto;
}

.item-detail__image-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.item-detail__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.item-detail__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item-detail__name {
    font-size: 20px;
    font-weight: bold;
}

.item-detail__price {
    font-size: 18px;
    margin: 8px 0;
}

/* コメント欄のユーザーアイコン */
.item-detail__comment-icon {
    width: 40px;
    /* 横幅を固定 */
    height: 40px;
    /* 縦幅を固定 */
    border-radius: 50%;
    /* 丸くする */
    object-fit: cover;
    /* 中央でトリミングして綺麗に見せる */
    margin-right: 8px;
    /* 名前との間に少し余白 */
    vertical-align: middle;
}

.item-detail__icon {
    background-color: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    margin-right: 10px;
    color: #333;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.item-detail__icon--liked {
    color: #ff5656;
}

.item-detail__icon--comment {
    color: #555;
}

.item-detail__icon:hover {
    opacity: 0.7;
}

.item-detail__icon span {
    font-size: 14px;
    margin-left: 2px;
}

.item-detail__purchase-btn {
    display: block;
    width: 100%;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.item-detail__comment-text {
    
}

.item-detail__textarea-message {
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
}

.item-detail__textarea {
    height: 150px;
    width: 100%;
}

.item-detail__button {
    display: block;
    width: 100%;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-detail__sold {
    position: absolute;
    top: 110px;
    left: 270px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}