.verify {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}

.verify__message {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 40px;
}

.verify__button {
    display: inline-block;
    background-color: #d9d9d9;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 7px 16px;
    border: 1px solid #000;
    font-size: 15px;
    margin-bottom: 40px;
}

.verify__button:hover {
    background-color: #c0c0c0;
}

.verify__resend {
    background: none;
    border: none;
    color: #3b8bd6;
    cursor: pointer;

}